In [4]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user pc\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (9.5.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\USER PC\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [7]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Oman99690050#",
    database="MovieDB"
)

cursor = conn.cursor()
print("Connected!")

Connected!

In [8]:
cursor.execute("SELECT * FROM Person")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Christopher Nolan', datetime.date(1970, 7, 30))
(2, 'Leonardo DiCaprio', datetime.date(1974, 11, 11))
(3, 'Joseph Gordon-Levitt', datetime.date(1981, 2, 17))
(4, 'Elliot Page', datetime.date(1987, 3, 1))
(5, 'Quentin Tarantino', datetime.date(1963, 3, 27))
(6, 'Samuel L. Jackson', datetime.date(1948, 12, 21))
(8, 'Ridley Scott', datetime.date(1937, 11, 30))
(9, 'Tom Hanks', datetime.date(1956, 7, 9))