In [2]:
pip install pipeline

Collecting pipeline
  Downloading pipeline-0.1.0-py3-none-any.whl.metadata (483 bytes)
Downloading pipeline-0.1.0-py3-none-any.whl (2.6 kB)
Installing collected packages: pipeline
Successfully installed pipeline-0.1.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\USER PC\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [ ]:
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import FunctionTransformer

In [ ]:
df_raw = pd.read_csv('merged_store_sales.csv')
df = df_raw.copy()

In [ ]:
df

In [ ]:
def fill_numeric(df):
    df = df.copy()
    df["Qty"] = df["Qty"].fillna(0).astype(int)
    df["Unit_Price"] = df["Unit_Price"].fillna(0.0).astype(float)
    return df

def fill_customers(df):
    df = df.copy()
    df["CustomerID"] = df["CustomerID"].fillna("GUEST")
    return df

def convert_date(df):
    df = df.copy()
    df["SaleDate"] = pd.to_datetime(df["SaleDate"])
    return df

def calc_total(df):
    df = df.copy()
  
    df["Total_Price"] = df["Qty"] * df["Unit_Price"]
    return df


def convert_currency(df):
    df = df.copy()
    rates = {"OMR": 1, "USD": 0.385, "EUR": 0.42}

   
    df["Total_Price"] = df.apply(
        lambda r: r["Total_Price"] * rates.get(str(r["CurrencyType"]).upper(), 1),
        axis=1
    )
    return df

def fill_currency(df):
    df = df.copy()
    mode_value = df["CurrencyType"].mode()[0]   
    df["CurrencyType"] = df["CurrencyType"].fillna(mode_value)
    return df

In [ ]:
pipeline = Pipeline([
    ("fill_numeric", FunctionTransformer(fill_numeric)),
    ("fill_customers", FunctionTransformer(fill_customers)),
    ("fill_currency", FunctionTransformer(fill_currency)),  # ← هنا نضفناها
    ("convert_date", FunctionTransformer(convert_date)),
    ("calc_total", FunctionTransformer(calc_total)),
    ("convert_currency", FunctionTransformer(convert_currency)),
])

In [ ]:
df_transformed = pipeline.fit_transform(df_raw)
print(df_transformed.head())

In [ ]:
df_transformed.isnull().sum()

In [ ]:
#load

In [ ]:
connection = pymysql.connect(
    host="localhost",
    user="root",
    password="Oman99690050#",
    database="store_sales_db",
    charset="utf8mb4"
)
cursor = connection.cursor()
print("ok")

In [ ]:
# ---- CREATE TABLES ----
cursor.execute("""
CREATE TABLE IF NOT EXISTS Product (
    ProductID INT AUTO_INCREMENT PRIMARY KEY,
    ProductName VARCHAR(255) UNIQUE
)
""")

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS Customer (
    CustomerID VARCHAR(50) PRIMARY KEY
)
""")

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS Store (
    StoreID VARCHAR(50) PRIMARY KEY
)
""")

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS Sales (
    SaleID INT AUTO_INCREMENT PRIMARY KEY,
    SaleDate DATETIME,
    StoreID VARCHAR(50),
    ProductID INT,
    CustomerID VARCHAR(50),
    Qty INT,
    Unit_Price FLOAT,
    CurrencyType VARCHAR(10),
    Total_Price FLOAT,
    Total_OMR FLOAT,
    FOREIGN KEY (StoreID) REFERENCES Store(StoreID),
    FOREIGN KEY (CustomerID) REFERENCES Customer(CustomerID),
    FOREIGN KEY (ProductID) REFERENCES Product(ProductID)
)
""")

In [ ]:
connection.commit()

In [ ]:
# ---- INSERT DATA INTO

In [ ]:
product_names = df_transformed["ProductName"].unique()
for name in product_names:
    cursor.execute("""
        INSERT IGNORE INTO Product (ProductName)
        VALUES (%s)
    """, (name,))

In [ ]:
# Customers
customer_ids = df["CustomerID"].unique()
for cid in customer_ids:
    cursor.execute("""
        INSERT IGNORE INTO Customer (CustomerID)
        VALUES (%s)
    """, (cid,))

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS Store (
    StoreID VARCHAR(50) PRIMARY KEY
)
""")

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS Sales (
    SaleID INT AUTO_INCREMENT PRIMARY KEY,
    SaleDate DATETIME,
    StoreID VARCHAR(50),
    ProductID INT,
    CustomerID VARCHAR(50),
    Qty INT,
    Unit_Price FLOAT,
    CurrencyType VARCHAR(10),
    Total_Price FLOAT,
    Total_OMR FLOAT,
    FOREIGN KEY (StoreID) REFERENCES Store(StoreID),
    FOREIGN KEY (CustomerID) REFERENCES Customer(CustomerID),
    FOREIGN KEY (ProductID) REFERENCES Product(ProductID)
)
""")