In [91]:
import pandas as pd
from datetime import datetime
import pyodbc

# ----------------------------
# 1) EXTRACT
# ----------------------------
df1 = pd.read_csv('store_sales_1.csv')
df2 = pd.read_csv('store_sales_2.csv')
df3 = pd.read_csv('store_sales_3.csv')

df = pd.concat([df1, df2, df3], ignore_index=True)
df

,ProductName,Qty,Unit_Price,SaleDate,CurrencyType,CustomerID,StoreID
0,Smith Paper,3.0,10.50,7/13/2024,OMR,9ca482a2-0356-49c1-b5e3-88ae98d1cc2f,Store_A
1,Johnson Screen,NaN,NaN,2/23/2025,Usd,c0b9df4e-8f03-4bf0-a31b-0a7d7c2a8907,Store_A
2,Roberts Ingredient,3.0,30.00,11/13/2024,USD,97dc18e3-2c12-4e26-9863-32514e82e822,Store_A
3,White Monitor,NaN,10.50,4/16/2025,USD,e4d09733-d496-47b3-a4b5-04de84d8fd06,Store_A
4,Rodriguez Keyboard,2.0,20.00,8/3/2024,usd,435ecb46-4545-4af7-b72c-119f64d193a5,Store_A
...,...,...,...,...,...,...,...
295,Case,1.0,30.00,8/22/2024,Usd,b0552606-1fe5-420f-abf0-a86289c250ba,STORE_A
296,Black,NaN,30.00,12/24/2024,Usd,6da0ca26-e56e-41e1-89b0-004aa6d74b3e,STORE_A
297,On,1.0,20.00,9/6/2024,NaN,045081fa-0df3-4904-820b-067b4176fb85,STORE_A
298,Soon,2.0,NaN,7/4/2024,NaN,a6b5132d-2026-4400-83d9-a64ed546bd51,STORE_A
299,Skill,2.0,15.75,9/6/2024,Usd,d3415bba-ac14-4a61-904f-f5542552ee4e,STORE_A

In [92]:
df.isnull().sum()

ProductName      0
Qty             73
Unit_Price      67
SaleDate         0
CurrencyType    54
CustomerID      31
StoreID          0
dtype: int64

In [93]:
df = df.dropna(subset=["Qty", "Unit_Price", "CustomerID"]).reset_index(drop=True)
df = df[df["CurrencyType"].notna()].reset_index(drop=True)

In [94]:
df["StoreID"] = (
    df["StoreID"]
    .str.upper()             
    .str.replace("-", "_")  
    .str.replace(" ", "")    
    .str.strip()             
)


df["StoreID"] = df["StoreID"].str.title()

In [95]:
df.loc[:, "CurrencyType"] = df["CurrencyType"].astype(str).str.strip().str.upper()

In [96]:
df.loc[:, "Qty"] = df["Qty"].astype(int)
df.loc[:, "Unit_Price"] = df["Unit_Price"].astype(float)
df.loc[:, "SaleDate"] = pd.to_datetime(df["SaleDate"], format="%m/%d/%Y")

In [97]:
mode_value = df["CurrencyType"].mode()[0]
print("Most frequent currency:", mode_value)

df.loc[:, "CurrencyType"] = df["CurrencyType"].fillna(mode_value)

Most frequent currency: USD

In [98]:
df.isnull().sum()

ProductName     0
Qty             0
Unit_Price      0
SaleDate        0
CurrencyType    0
CustomerID      0
StoreID         0
dtype: int64

In [99]:
df

,ProductName,Qty,Unit_Price,SaleDate,CurrencyType,CustomerID,StoreID
0,Smith Paper,3.0,10.50,2024-07-13 00:00:00,OMR,9ca482a2-0356-49c1-b5e3-88ae98d1cc2f,Store_A
1,Roberts Ingredient,3.0,30.00,2024-11-13 00:00:00,USD,97dc18e3-2c12-4e26-9863-32514e82e822,Store_A
2,Rodriguez Keyboard,2.0,20.00,2024-08-03 00:00:00,USD,435ecb46-4545-4af7-b72c-119f64d193a5,Store_A
3,Jackson Cable,3.0,10.50,2025-03-04 00:00:00,USD,6ed6e2b1-3a9c-42c4-a493-1e177948a9fc,Store_A
4,Hall Cup,3.0,15.75,2024-09-29 00:00:00,USD,85746df4-64ad-49ac-88a4-a582cc382075,Store_A
...,...,...,...,...,...,...,...
125,Hudson Lamp,2.0,15.75,2024-06-22 00:00:00,OMR,cd017c4d-3953-46d2-b894-f926a33b1c67,Store_A
126,Gregory Helmet,2.0,10.50,2025-03-24 00:00:00,USD,14cd77f7-8505-47df-a916-b64aae66ebd2,Store_A
127,Actually,3.0,20.00,2025-02-21 00:00:00,OMR,c0f70ed4-bd8e-4a8f-a2bf-9b134012f5b9,Store_A
128,Case,1.0,30.00,2024-08-22 00:00:00,USD,b0552606-1fe5-420f-abf0-a86289c250ba,Store_A
129,Skill,2.0,15.75,2024-09-06 00:00:00,USD,d3415bba-ac14-4a61-904f-f5542552ee4e,Store_A

In [100]:
usd_to_omr = 0.38

df["Unit_Price"] = df["Unit_Price"].astype(float)

import numpy as np

df["Unit_Price"] = np.where(
    df["CurrencyType"] == "USD",
    df["Unit_Price"] * usd_to_omr,   
    df["Unit_Price"]               
)

# بعد التحويل، خليه كلّه OMR
df["CurrencyType"] = "OMR"

In [101]:
df

,ProductName,Qty,Unit_Price,SaleDate,CurrencyType,CustomerID,StoreID
0,Smith Paper,3.0,10.500,2024-07-13 00:00:00,OMR,9ca482a2-0356-49c1-b5e3-88ae98d1cc2f,Store_A
1,Roberts Ingredient,3.0,11.400,2024-11-13 00:00:00,OMR,97dc18e3-2c12-4e26-9863-32514e82e822,Store_A
2,Rodriguez Keyboard,2.0,7.600,2024-08-03 00:00:00,OMR,435ecb46-4545-4af7-b72c-119f64d193a5,Store_A
3,Jackson Cable,3.0,3.990,2025-03-04 00:00:00,OMR,6ed6e2b1-3a9c-42c4-a493-1e177948a9fc,Store_A
4,Hall Cup,3.0,5.985,2024-09-29 00:00:00,OMR,85746df4-64ad-49ac-88a4-a582cc382075,Store_A
...,...,...,...,...,...,...,...
125,Hudson Lamp,2.0,15.750,2024-06-22 00:00:00,OMR,cd017c4d-3953-46d2-b894-f926a33b1c67,Store_A
126,Gregory Helmet,2.0,3.990,2025-03-24 00:00:00,OMR,14cd77f7-8505-47df-a916-b64aae66ebd2,Store_A
127,Actually,3.0,20.000,2025-02-21 00:00:00,OMR,c0f70ed4-bd8e-4a8f-a2bf-9b134012f5b9,Store_A
128,Case,1.0,11.400,2024-08-22 00:00:00,OMR,b0552606-1fe5-420f-abf0-a86289c250ba,Store_A
129,Skill,2.0,5.985,2024-09-06 00:00:00,OMR,d3415bba-ac14-4a61-904f-f5542552ee4e,Store_A

In [102]:
df.loc[:, "Total_Price"] = df["Qty"] * df["Unit_Price"]

In [103]:
df

,ProductName,Qty,Unit_Price,SaleDate,CurrencyType,CustomerID,StoreID,Total_Price
0,Smith Paper,3.0,10.500,2024-07-13 00:00:00,OMR,9ca482a2-0356-49c1-b5e3-88ae98d1cc2f,Store_A,31.500
1,Roberts Ingredient,3.0,11.400,2024-11-13 00:00:00,OMR,97dc18e3-2c12-4e26-9863-32514e82e822,Store_A,34.200
2,Rodriguez Keyboard,2.0,7.600,2024-08-03 00:00:00,OMR,435ecb46-4545-4af7-b72c-119f64d193a5,Store_A,15.200
3,Jackson Cable,3.0,3.990,2025-03-04 00:00:00,OMR,6ed6e2b1-3a9c-42c4-a493-1e177948a9fc,Store_A,11.970
4,Hall Cup,3.0,5.985,2024-09-29 00:00:00,OMR,85746df4-64ad-49ac-88a4-a582cc382075,Store_A,17.955
...,...,...,...,...,...,...,...,...
125,Hudson Lamp,2.0,15.750,2024-06-22 00:00:00,OMR,cd017c4d-3953-46d2-b894-f926a33b1c67,Store_A,31.500
126,Gregory Helmet,2.0,3.990,2025-03-24 00:00:00,OMR,14cd77f7-8505-47df-a916-b64aae66ebd2,Store_A,7.980
127,Actually,3.0,20.000,2025-02-21 00:00:00,OMR,c0f70ed4-bd8e-4a8f-a2bf-9b134012f5b9,Store_A,60.000
128,Case,1.0,11.400,2024-08-22 00:00:00,OMR,b0552606-1fe5-420f-abf0-a86289c250ba,Store_A,11.400
129,Skill,2.0,5.985,2024-09-06 00:00:00,OMR,d3415bba-ac14-4a61-904f-f5542552ee4e,Store_A,11.970

In [104]:
import pymysql

connection = pymysql.connect(
    host="localhost",
    user="root",
    password="Oman99690050#",   # عدّلي إذا تغيرت
    charset="utf8mb4",
    cursorclass=pymysql.cursors.Cursor
)

cursor = connection.cursor()

cursor.execute("CREATE DATABASE IF NOT EXISTS store_sales_db;")
cursor.execute("USE store_sales_db;")



cursor.execute("""
CREATE TABLE IF NOT EXISTS customers (
    customer_id VARCHAR(50) PRIMARY KEY
);
""")


cursor.execute("""
CREATE TABLE IF NOT EXISTS stores (
    store_id VARCHAR(50) PRIMARY KEY
);
""")


cursor.execute("""
CREATE TABLE IF NOT EXISTS products (
    product_id INT AUTO_INCREMENT PRIMARY KEY,
    product_name VARCHAR(255) UNIQUE
);
""")


cursor.execute("""
CREATE TABLE IF NOT EXISTS sales (
    sale_id INT AUTO_INCREMENT PRIMARY KEY,
    customer_id VARCHAR(50),
    store_id VARCHAR(50),
    product_id INT,
    qty INT,
    unit_price DECIMAL(10,3),
    total_price DECIMAL(10,3),
    sale_date DATE,
    currency_type VARCHAR(10),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
);
""")


connection.commit()
print(" Database and tables created successfully.")

 Database and tables created successfully.

In [105]:
#INSERT CUSTOMER
unique_customers = df["CustomerID"].dropna().unique()

insert_customer_sql = "INSERT IGNORE INTO customers (customer_id) VALUES (%s)"
cursor.executemany(insert_customer_sql, [(cid,) for cid in unique_customers])

connection.commit()
print("Customers inserted.")

Customers inserted.

In [106]:
#INSERT STORES
unique_stores = df["StoreID"].dropna().unique()

insert_store_sql = "INSERT IGNORE INTO stores (store_id) VALUES (%s)"
cursor.executemany(insert_store_sql, [(sid,) for sid in unique_stores])

connection.commit()
print("Stores inserted.")

Stores inserted.

In [107]:
# INSERT PRODUCT
unique_products = df["ProductName"].dropna().unique()

insert_product_sql = """
INSERT IGNORE INTO products (product_name)
VALUES (%s)
"""

cursor.executemany(insert_product_sql, [(p,) for p in unique_products])
connection.commit()

print("Products inserted successfully!")

Products inserted successfully!

In [108]:
# INSERT PRODUCT
unique_products = df["ProductName"].dropna().unique()

insert_product_sql = """
INSERT IGNORE INTO products (product_name)
VALUES (%s)
"""

cursor.executemany(insert_product_sql, [(p,) for p in unique_products])
connection.commit()

print("Products inserted successfully!")


# INSERT SALES
insert_sales_sql = """
INSERT INTO sales (
    customer_id,
    store_id,
    product_name,
    qty,
    unit_price_omr,     
    total_price_omr,     
    sale_date,
    currency_type
)
VALUES (%s,%s,%s,%s,%s,%s,%s,%s);
"""

sales_records = []

for _, row in df.iterrows():
    sales_records.append((
        str(row["CustomerID"]),
        str(row["StoreID"]),
        str(row["ProductName"]),
        int(row["Qty"]),
        float(row["Unit_Price"]),
        float(row["Total_Price"]),
        row["SaleDate"].date(),
        str(row["CurrencyType"])
    ))

cursor.executemany(insert_sales_sql, sales_records)
connection.commit()

print("Inserted rows:", cursor.rowcount)

Products inserted successfully!
Inserted rows: 130

In [109]:
print(df.columns)

Index(['ProductName', 'Qty', 'Unit_Price', 'SaleDate', 'CurrencyType',
       'CustomerID', 'StoreID', 'Total_Price'],
      dtype='object')

In [110]:
# Question 1: Top 5 Products by Total Revenue
# -------------------------------

top_products = (
    df.groupby("ProductName")["Total_Price"]
    .sum()
    .sort_values(ascending=False)
    .head(5)
)

print("Top 5 Products by Total Revenue:")
print(top_products)
print("\n")

Top 5 Products by Total Revenue:
ProductName
Flores Coat      105.20
Gray Tool         90.00
Lloyd Mixer       90.00
Moore Chair       90.00
Myers Shampoo     75.75
Name: Total_Price, dtype: float64

In [111]:
# Question 2: Top 5 Customers by Spending
# -------------------------------

top_customers = (
    df.groupby("CustomerID")["Total_Price"]
    .sum()
    .sort_values(ascending=False)
    .head(5)
)

print("Top 5 Customers by Spending:")
print(top_customers)
print("\n")

Top 5 Customers by Spending:
CustomerID
ca1fa71a-cb7a-49d0-8784-70a46c5a917d    90.0
0822d2d7-9454-4aa3-95bc-b869d6957852    90.0
ce05d98c-c6f0-4f3c-b889-ec3ccb2da92f    90.0
cc98356b-e110-40bf-9c6d-523028513f65    60.0
c0f70ed4-bd8e-4a8f-a2bf-9b134012f5b9    60.0
Name: Total_Price, dtype: float64

In [112]:
# Question 3: Top 5 Stores by Sales Revenue
# -------------------------------

top_stores = (
    df.groupby("StoreID")["Total_Price"]
    .sum()
    .sort_values(ascending=False)
    .head(5)
)

print("Top 5 Stores by Sales Revenue:")
print(top_stores)

Top 5 Stores by Sales Revenue:
StoreID
Store_A    2767.205
Name: Total_Price, dtype: float64

In [113]:
print("-"*60)

------------------------------------------------------------