In [1]:
import pandas as pd
import numpy as np

In [2]:
#Q1: Create Series
 #Create a pandas Series for each city with daily temperatures.

In [6]:
days = ["Day1", "Day2", "Day3", "Day4", "Day5", "Day6", "Day7"]

muscat = pd.Series([35, 36, 34, 33, 37, 38, 36], index=days, name="Muscat")
sohar  = pd.Series([28, 29, 27, 30, 31, 28, 29], index=days, name="Sohar")
nizwa  = pd.Series([40, 42, 39, 41, 43, 40, 41], index=days, name="Nizwa")

# add all togther 
series_list = [muscat, sohar, nizwa]
series_list

print("City", end="\t") # to be in one line with days
# loop for days:
for d in days:
    print(d, end="\t") #\t for space
print()

for c in series_list:
    print(c.name,end="\t")  # name : muscat,sohar ,nizwa
    
    for value in c:
        print(value, end="\t")
    print()

City	Day1	Day2	Day3	Day4	Day5	Day6	Day7
Muscat	35	36	34	33	37	38	36
Sohar	28	29	27	30	31	28	29
Nizwa	40	42	39	41	43	40	41

In [4]:
# Q2: Average Temperature
# Calculate the average temperature for each city using NumPy.

In [5]:
#for average use mean
avg_muscat=float(round(np.mean(muscat)))
avg_sohar=float(round(np.mean(sohar)))
avg_nizwa=float(round(np.mean(nizwa)))
print("Muscat",avg_muscat)
print("Sohar",avg_sohar)
print("Nizwa",avg_nizwa)

Muscat 36.0
Sohar 29.0
Nizwa 41.0

In [6]:
# Q3: Cities above 35°C average
# Identify which cities had an average temperature above 35°C.

In [7]:
print("Cities with average temperature above 35°C:")
if avg_muscat > 35:
    print("Muscat")
if avg_sohar > 35:
    print("Sohar")
if avg_nizwa > 35:
    print("Nizwa")

Cities with average temperature above 35°C:
Muscat
Nizwa

In [ ]:
# Q4: Hottest day per city
# Find the day (index) with the maximum temperature for each city using NumPy.

In [13]:
for c in series_list:
    max_temp = c.max()  
    hot_day = ""       

    for d in days:
        if c[d] == max_temp:
            hot_day = d
            break
    print(c.name, ":", hot_day, "=", max_temp, "°C")

Muscat : Day6 = 38 °C
Sohar : Day5 = 31 °C
Nizwa : Day5 = 43 °C

In [ ]:
#Q5: Boolean Series above average
# Create a boolean Series for each city showing True for days above the cityʼs average temperature and False otherwise.

In [14]:
for c in series_list:
    avg=c.mean()
    print("\n", c.name, "average =", avg)
    for d in days:
        if c[d] > avg:
            print(d, True)
        else:
            print(d, False)

 Muscat average = 35.57142857142857
Day1 False
Day2 True
Day3 False
Day4 False
Day5 True
Day6 True
Day7 True

 Sohar average = 28.857142857142858
Day1 False
Day2 True
Day3 False
Day4 True
Day5 True
Day6 False
Day7 True

 Nizwa average = 40.857142857142854
Day1 False
Day2 True
Day3 False
Day4 True
Day5 True
Day6 False
Day7 True

In [22]:
# Q6: Count above-average days
# Using the boolean Series from Q5, count how many days each city had above-average temperatures.

In [15]:
for c in series_list:
    avg = c.mean()
    count = 0
    for d in days:
        if c[d] > avg:
            count += 1
    print(c.name + ":", count)

Muscat: 4
Sohar: 4
Nizwa: 4

In [23]:
# Q7: Count days within a range
 #Count how many days each city had temperatures between 35°C and 40°C (inclusive).

In [16]:
for c in series_list:
    count = 0
    for d in days:
        if c[d] >= 35 and c[d] <= 40:
            count += 1
    print(c.name + ":", count)

Muscat: 5
Sohar: 0
Nizwa: 3

In [24]:
# Q8: Compare two cities
#Create a boolean Series that shows True for days when Muscat was hotter than Sohar.
#Count how many days this happened.

In [17]:
count = 0
for d in days:
    if muscat[d] > sohar[d]:
        print(d, True)
        count += 1
    else:
        print(d, False)

print("Total days Muscat hotter than Sohar:", count)

Day1 True
Day2 True
Day3 True
Day4 True
Day5 True
Day6 True
Day7 True
Total days Muscat hotter than Sohar: 7

In [25]:
#Q9: Extreme hot days
# Create a boolean Series for each city that shows True for temperatures above 1.1×average temperature 10% above average).
# Count how many extreme days each city had.

In [18]:
for c in series_list:
    avg = c.mean()           
    limit = 1.1 * avg         
    count = 0
    print("\n", c.name, "limit =", limit)
    for d in days:
        if c[d] > limit:
            print(d, True)
            count += 1
        else:
            print(d, False)
    print(c.name + ":", count)

 Muscat limit = 39.128571428571426
Day1 False
Day2 False
Day3 False
Day4 False
Day5 False
Day6 False
Day7 False
Muscat: 0

 Sohar limit = 31.742857142857147
Day1 False
Day2 False
Day3 False
Day4 False
Day5 False
Day6 False
Day7 False
Sohar: 0

 Nizwa limit = 44.94285714285714
Day1 False
Day2 False
Day3 False
Day4 False
Day5 False
Day6 False
Day7 False
Nizwa: 0

In [26]:
# Q10: Coolest day overall
 #Find the day with the lowest temperature across all cities.
 #Indicate which city had that lowest temperature

In [20]:
lowest_temp = 999
cool_day = ""
cool_city = ""

for c in series_list:
    for d in days:
        if c[d] < lowest_temp:
            lowest_temp = c[d]
            cool_day = d
            cool_city = c.name

print(cool_day + ",", cool_city + ",", str(lowest_temp) + "°C")

Day3, Sohar, 27°C

In [ ]:
# Q11: Difference to average
# For each city, create a Series showing the difference between each dayʼs temperature and the cityʼs average temperature.
# Identify the day with the largest positive difference for each city.

In [21]:
for c in series_list:
    avg = c.mean()
    print("\n", c.name, "average =", avg)
    diff = []        
    for d in days:
        difference = c[d] - avg
        diff.append(difference)
        print(d, ":", difference)
    
    max_diff = max(diff)
    max_day = days[diff.index(max_diff)]
    print("Largest positive difference:", max_day, "=", max_diff)

 Muscat average = 35.57142857142857
Day1 : -0.5714285714285694
Day2 : 0.4285714285714306
Day3 : -1.5714285714285694
Day4 : -2.5714285714285694
Day5 : 1.4285714285714306
Day6 : 2.4285714285714306
Day7 : 0.4285714285714306
Largest positive difference: Day6 = 2.4285714285714306

 Sohar average = 28.857142857142858
Day1 : -0.8571428571428577
Day2 : 0.14285714285714235
Day3 : -1.8571428571428577
Day4 : 1.1428571428571423
Day5 : 2.1428571428571423
Day6 : -0.8571428571428577
Day7 : 0.14285714285714235
Largest positive difference: Day5 = 2.1428571428571423

 Nizwa average = 40.857142857142854
Day1 : -0.8571428571428541
Day2 : 1.142857142857146
Day3 : -1.857142857142854
Day4 : 0.1428571428571459
Day5 : 2.142857142857146
Day6 : -0.8571428571428541
Day7 : 0.1428571428571459
Largest positive difference: Day5 = 2.142857142857146