In [1]:
import sys
print(sys.executable)

C:\Users\USER PC\prefect_env\Scripts\python.exe

In [2]:
import prefect

prefect.__version__

'3.6.2'

In [3]:
import os

os.environ["PREFECT_API_URL"] = "https://api.prefect.cloud/api/accounts/5a41b131-4cbc-419c-9685-bef0b843bc45/workspaces/e31d45fa-dde7-4d90-9e9c-6489ae12e97f"
os.environ["PREFECT_API_KEY"] = "e2ff8e020abb574b3f2eb97c686b2ba6"

In [4]:
from prefect.settings import PREFECT_API_URL, PREFECT_API_KEY

print("API URL:", PREFECT_API_URL.value())
print("API KEY set? :", "YES" if PREFECT_API_KEY.value() else "NO")

API URL: https://api.prefect.cloud/api/accounts/5a41b131-4cbc-419c-9685-bef0b843bc45/workspaces/e31d45fa-dde7-4d90-9e9c-6489ae12e97f
API KEY set? : YES

In [5]:
import pandas as pd

train = pd.read_csv("train.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
from prefect import flow, task, get_run_logger
import pandas as pd
from sqlalchemy import create_engine, text
import pymysql  # required by mysql+pymysql
import os

# -----------------------------
# DB CONFIG
# -----------------------------
DB_USER = "root"
DB_PASSWORD = "Oman99690050#"   # your real password
DB_HOST = "localhost"
DB_NAME = "pythonDB"

DB_URL = f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:3306/{DB_NAME}"


# -----------------------------
# 1) EXTRACT (CSV -> DataFrame)
# -----------------------------
@task
def extract_train() -> pd.DataFrame:
    logger = get_run_logger()
    file_path = "train.csv"

    if not os.path.exists(file_path):
        raise FileNotFoundError("train.csv not found in current directory!")

    df = pd.read_csv(file_path)
    logger.info(f"Extracted {len(df)} rows from train.csv")
    return df


# -----------------------------
# 2) LOAD (DataFrame -> raw table)
# -----------------------------
@task
def load_raw(df: pd.DataFrame):
    logger = get_run_logger()
    engine = create_engine(DB_URL)
    # store raw Titanic data
    df.to_sql("titanic_raw", engine, if_exists="replace", index=False)
    logger.info("Loaded raw data into table 'titanic_raw'")


# -----------------------------
# 3) TRANSFORM (INSIDE MySQL)
# -----------------------------
@task
def transform_in_db():
    logger = get_run_logger()
    engine = create_engine(DB_URL)

    with engine.begin() as conn:
        # 3.1 Create clean table
        conn.execute(text("""
        DROP TABLE IF EXISTS titanic_clean
        """))

        conn.execute(text("""
        CREATE TABLE IF NOT EXISTS titanic_clean (
            PassengerId INT,
            Survived TINYINT,
            Pclass TINYINT,
            Name VARCHAR(200),
            Sex VARCHAR(10),
            Age FLOAT,
            SibSp INT,
            Parch INT,
            Ticket VARCHAR(50),
            Fare FLOAT,
            Cabin VARCHAR(50),
            Embarked VARCHAR(5)
        )
        """))

        # 3.2 Insert cleaned data from raw
        # Simple example: keep subset and drop rows with NULL Age or Fare
        conn.execute(text("""
        INSERT INTO titanic_clean
            (PassengerId, Survived, Pclass, Name, Sex,
             Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked)
        SELECT
            PassengerId,
            Survived,
            Pclass,
            Name,
            Sex,
            Age,
            SibSp,
            Parch,
            Ticket,
            Fare,
            Cabin,
            Embarked
        FROM titanic_raw
        WHERE Age IS NOT NULL
          AND Fare IS NOT NULL
        """))

    logger.info("Transform step completed inside MySQL (titanic_clean filled)")


# -----------------------------
# 4) ELT FLOW
# -----------------------------
@flow
def elt_titanic_flow():
    df = extract_train()   # E
    load_raw(df)           # L
    transform_in_db()      # T


# Run the flow in Jupyter
elt_titanic_flow()

09:13:55.072 | INFO    | Flow run 'silver-uakari' - Beginning flow run 'silver-uakari' for flow 'elt-titanic-flow'

09:13:55.086 | INFO    | Flow run 'silver-uakari' - View at https://app.prefect.cloud/account/5a41b131-4cbc-419c-9685-bef0b843bc45/workspace/e31d45fa-dde7-4d90-9e9c-6489ae12e97f/runs/flow-run/06922981-1c83-734f-8000-155435dc07df

09:13:56.375 | INFO    | Task run 'extract_train-4bb' - Extracted 891 rows from train.csv

09:13:56.384 | INFO    | Task run 'extract_train-4bb' - Finished in state Completed()

09:13:58.183 | INFO    | Task run 'load_raw-318' - Loaded raw data into table 'titanic_raw'

09:13:58.199 | INFO    | Task run 'load_raw-318' - Finished in state Completed()

09:14:00.108 | INFO    | Task run 'transform_in_db-ac9' - Transform step completed inside MySQL (titanic_clean filled)

09:14:00.132 | INFO    | Task run 'transform_in_db-ac9' - Finished in state Completed()

09:14:00.535 | INFO    | Flow run 'silver-uakari' - Finished in state Completed()

In [7]:
elt_titanic_flow()

09:14:05.587 | INFO    | Flow run 'passionate-bonobo' - Beginning flow run 'passionate-bonobo' for flow 'elt-titanic-flow'

09:14:05.593 | INFO    | Flow run 'passionate-bonobo' - View at https://app.prefect.cloud/account/5a41b131-4cbc-419c-9685-bef0b843bc45/workspace/e31d45fa-dde7-4d90-9e9c-6489ae12e97f/runs/flow-run/06922981-ce00-7fd9-8000-9f591349ee28

09:14:06.398 | INFO    | Task run 'extract_train-48b' - Extracted 891 rows from train.csv

09:14:06.409 | INFO    | Task run 'extract_train-48b' - Finished in state Completed()

09:14:07.425 | INFO    | Task run 'load_raw-224' - Loaded raw data into table 'titanic_raw'

09:14:07.441 | INFO    | Task run 'load_raw-224' - Finished in state Completed()

09:14:08.333 | INFO    | Task run 'transform_in_db-5af' - Transform step completed inside MySQL (titanic_clean filled)

09:14:08.345 | INFO    | Task run 'transform_in_db-5af' - Finished in state Completed()

09:14:08.735 | INFO    | Flow run 'passionate-bonobo' - Finished in state Completed()